* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v175_22 {
  width: 100%;
  height: 1080px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v178_359 {
  width: 57px;
  height: 100%;
  background: rgba(226,226,226,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v175_24 {
  width: 939px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 30px;
  left: 112px;
  font-family: League Spartan;
  font-weight: Bold;
  font-size: 70px;
  opacity: 1;
  text-align: left;
}
.v175_119 {
  width: 106px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 94px;
  left: 397px;
  font-family: Libre Baskerville;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v175_120 {
  width: 244px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 94px;
  left: 112px;
  font-family: Libre Baskerville;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v175_45 {
  width: 51px;
  height: 51px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 31px;
  border-radius: 50%;
}
.name {
  color: #fff;
}
.v175_52 {
  width: 464px;
  height: 700px;
  background: url("../images/v175_52.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 190px;
  left: 728px;
  overflow: hidden;
}
.v175_124 {
  width: 9px;
  height: 9px;
  background: url("../images/v175_124.png");
  opacity: 1;
  position: absolute;
  top: 99px;
  left: 491px;
  border: 1px solid rgba(0,0,0,1);
}
.v175_126 {
  width: 7px;
  background: url("../images/v175_126.png");
  opacity: 1;
  position: absolute;
  top: 103px;
  left: 215px;
  border: 1.5px solid rgba(0,0,0,1);
}
.v178_278 {
  width: 10px;
  height: 4px;
  background: url("../images/v178_278.png");
  opacity: 1;
  position: absolute;
  top: 535px;
  left: 1226px;
  border: 2px solid rgba(0,0,0,1);
}
